.label {font-family: sans-serif;font-weight:bold; font-size: 16px;}
.title{font-family: sans-serif; font-weight:bold; font-size: 30px; fill: #ea8fe7;}
h3 {color: #8ee89a; box-shadow: 5px 10px 12px gray; width: 300; margin: 2px; padding: 3px;}
body {background-color: azure;}
